<% include ../partials/header %>

<div class="chatContainer">
    <h1>Welcome to the chat room!</h1>
    <div class="right">
        right content
    </div>

    <div class="left">
        left content
    </div>

    <div class="bottom">
        bottom content
    </div>
</div>

<% include ../partials/footer %>