<% include ../partials/header %>

    <div class="container-chat">

    </div>

    <div class="container-users">

    </div>

    <div class="container-msg">
        
    </div>

<% include ../partials/footer %>