<% include ../partials/header %>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"> <%= currentUser.name %> </div>
        <div class="list-group list-group-flush">
            <a href="/admin" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="/admin/users" class="list-group-item list-group-item-action bg-light">Users</a>
            <a href="/admin/posts" class="list-group-item list-group-item-action bg-light">Posts</a>
        </div>
    </div>
      <!-- /#sidebar-wrapper -->

    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Posts dashboard!</h1>
        </div>
        <div class="row" id="dash">
            <div class="col ">
                <% posts.forEach(function(posts){ %>
                    <div class="">
                        <a href="/posts/<%= posts._id %>"><strong><%= posts.title %></strong></a>
                        <p><%= posts.author.username %>
                        <span style="float: right;"><a href="#"><i class="far fa-trash-alt icon"></i></a></span>
                        <span style="float: right;"><a href="#"><i class="far fa-edit icon"></i></a></span>
                    </p>
                        <hr>
                    </div>
                <% }) %>              
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>