<% include ../partials/header %>

    <h1>Registrer deg</h1>

    <form action="/register" method="POST">
        <div class="form-group">
            <label for="emailInput">Email</label>
            <input class="form-control" type="text" name="username" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="emailInput">Full name</label>
            <input class="form-control" type="text" name="name" placeholder="Full name">
        </div>
        <div class="form-group">
            <label for="emailInput">password</label>
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
            <input class="form-control btn btn-primary" type="submit" value="Register">
    </form>


<% include ../partials/footer %>