<% include partials/header %>


    <div class="row">
        <div class="col">

        </div>
        <div class="col-sm-8">
            <h1>Welcome to this awesome forum!</h1>

            <a href="/posts">Posts</a>
            <a href="/chat">Chat</a>
        </div>
        <div class="col">

        </div>
    </div>


<% include partials/footer %>