<% include partials/header %>

    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs">
                <h1>Welcome to this awesome forum!</h1>
            </div>  
        </div>
    </div>

    <div class="container-fluid padding border">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1><a href="/posts">Posts</a></h1>
            </div>
            <hr>
            <div class="col-12">
                <h1><a href="/chat">Chat</a></h1>
            </div>
        </div>
    </div>
   
    

    
    
        


<% include partials/footer %>