<% include partials/header %>

<div class="homeContainer">

    <h1>Welcome to this awesome forum!</h1>

    <a href="/posts">Posts</a>
    <a href="/chat">Chat</a>

</div>

<% include partials/footer %>