.contaier-chat{
    display: flex;
}

.container-users{
    display: flex;
}

.container-msg{
    display: flex;
}

.container-chat div, .container-users div, .container-msg div {
    border: 1px #ccc solid;
    padding: 10px;
}