.chatContainer{
    margin-top: 50px;
    overflow: hidden;
    height: auto;
    padding: 5px;
}


.bottom {
    bottom:0;
    position:fixed;
    z-index:150;
    height: 45px;
}

.left{
    float: none;
    width: auto;
    overflow: hidden;
    height: 700px;
    border: 3px solid purple;
}

.right {
    width: 250px;
    float: right;
    background: #aafed6;
    height: 700px;
    border: 1px solid black;
}

@media only screen and (max-width: 768px) {
    .right{
        display: none;
    }
}